
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
/* common style  */
.text{
    font-size: 1rem;
    color: #ffffff;
    opacity: 80%;
    margin-bottom: 15px;
}
.btn{
    background: linear-gradient(45deg,#f7e93f 0%,#fb09b4 51%,#9100f8 100%);
    border-radius: 30px;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}



/* nav related style */
nav{
    background-color: #1A0B2E;
}
.nav-container{
    padding: 1rem;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
#logo-span{
    color:rgb(104, 41, 20);
}
.nav-links{
    list-style: none;
    display: flex;
    gap:2rem;
}
.nav-links li a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.25s;
}
.btns{
    display: flex;
    align-items: center;
}

/* hover related style */
.nav-links li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}
.btn:hover, .subscribe:hover{
    background:linear-gradient(#790539, #300776);
    box-shadow: 0 0 25px #9ad4ee;
}
/* banner related style  */
.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
     text-align: center;
}
.banner-container{
    /* max-width: 550px; */
    /* height: 760px; */
    /* border: 1px solid white; */
    margin: 0 auto ;
    margin-bottom: 50px;
    position: relative;
   
}
.badge{
    position: absolute;
    top: 25px;
    left: 1050px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 1;
}

.circle{
    position: relative;
}
.mike{
    position: absolute;
    top: 99px;
    left: 47%;
    transform: translateX(-50%,-50%);
}


.banner-content{
    padding-top: -20px;
}
.banner-content h3{
    font-size: 3.5rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 10px;

}
.banner.btn{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.subscribe{
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00ff88;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

/* about section style */
.about{
    background-color: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
}
.about-container{
    text-align: center;
    /* border: 1px solid white; */
} 
.about-content{
    margin-bottom: 80px;
}
.about-container .about-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-container .about-content p {
    color: #ffffff;
    opacity: 80%;
    font-size: 1rem;
    line-height:1.8rem;

}
.about-item{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    gap: 5rem;
}
.item h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 950;
}
.item p{
    font-size: 1rem;
    font-family: 500;
    opacity: 70%;
    color: #ffffff;
}
/* choose section style */
.choose{
    padding: 120px 200px;
    background-color: rgba(35, 14, 61, 1);
}
.choose-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.choose-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    /* border: 1px solid white; */
}
.choose-card{
    padding:2.5rem;
    /* border: 1px solid white; */
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.row-layout{
    grid-row: span 2;
}
.cols-layout{
    grid-column: span 2;
}
.choose-card h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 1rem;
}
.choose-card p{
    font-size: 1rem;
    color: #ffffff;
    opacity: 60%;
    margin-top: 1rem;
}
/*  Featured Episodes Section */
.featured{
    padding: 120px 200px;
    background-color: rgba(26, 11, 46, 1);
    /* gap: 120px; */
}

.featured-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.episodes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episodes-cards{
    /* border: 1px solid saddlebrown; */
    width: 380px;
    border-radius: 20px;
    background-color: rgba(37, 13, 68, 1) ;
    overflow: hidden;
}
.episodes-cards .video{
    width: 100%;
    height: aut0;
    
}
.card-container{
    padding: 1.5rem;
}
.episodes-cards h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}
.episodes-cards p{
    font-size: 1rem;
    color: #ffffff;
    opacity: 60%;
    line-height: 1.5rem;
}
.episodes-cards .card-text{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
}
.meet-container{
    padding-top: 120px;
}
.alex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blanchedalmond; */
    gap: 1rem;
    background-color: rgba(83, 60, 114, 1);
    border-radius: 30px;
    padding: 2rem;
}
.alex-card h3{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.alex-card p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 1rem;
}
.alex-logo{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.alex-logo img{
    background: linear-gradient(45deg,#f7e93f 0%,#fb09b4 51%,#9100f8 100%);
    border-radius: 50%;
    background: transparent;
    border: 1px solid #b90ad4;
    padding: 10px;
}
  /* padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00ff88;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s; */

    /* footer realeted style */
    .footer{
        background-image: url(../assets/footer-bg.png);
        position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 120px;
    }
    .footer-container h1{
        position: relative;
        z-index: 2;
        font-size: 3rem;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        /* transform: translateY(10px); */
    }
    .footer-text{
        background: linear-gradient(45deg,#f7e93f 0%,#fb09b4 51%,#9100f8 100%);
        color: transparent;
        background-clip: text;

    }
    .footer-card{
        display: flex;
        gap: 60px;
        justify-content: center;
        align-items: center;
    }
    .card-conten{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2rem;
    }
    .card-conten p{
        font-size: 1rem;
        font-weight: 500;
        opacity: 60%;
        color: #ffffff;
    }
    .footer-texts{
        font-size: 1rem;
        opacity: 60%;
        color: rgba(250, 250, 250, 1);
        line-height: 1.5rem;
        text-align: center;
    }



