
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
/* nav related style */
nav{
    background-color: #1A0B2E;
}
.nav-container{
    padding: 1rem;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
#logo-span{
    color:rgb(104, 41, 20);
}
.nav-links{
    list-style: none;
    display: flex;
    gap:2rem;
}
.nav-links li a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.25s;
}
.btns{
    display: flex;
    align-items: center;
}
.btn{
    background: linear-gradient(45deg,#f7e93f 0%,#fb09b4 51%,#9100f8 100%);
    border-radius: 30px;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
/* hover related style */
.nav-links li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}
.btn:hover{
    background:linear-gradient(#790539, #300776);
    box-shadow: 0 0 25px #9ad4ee;
}